<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="proxima_preview">
  
  <xacro:property name="scale" value="0.001 0.001 0.001"/>
  <xacro:property name="frame_rpy" value="${pi/2} 0 0" />
  <xacro:property name="frame_mesh_xyz" value="-0.12 0 -0.105"/>
  <xacro:property name="hub_rpy_left" value="${pi/2} 0 ${pi/2}"/>
  <xacro:property name="hub_rpy_right" value="${pi/2} 0 ${-pi/2}"/>
  <xacro:property name="hub_xyz_left" value="0.15 -0.06 0.05"/>
  <xacro:property name="hub_xyz_right" value="-0.15 -0.06 0.05"/>
  <xacro:property name="current_rod_tilt" value="0.2"/>

  <xacro:property name="rod_fru_xyz" value="0.068 0.025 0.038"/>
  <xacro:property name="rod_fru_rpy" value="${current_rod_tilt} 1.21 0"/>
  <xacro:property name="rod_frl_xyz" value="0.068 -0.025 0.038"/>
  <xacro:property name="rod_frl_rpy" value="${current_rod_tilt} 1.21 0"/>
  <xacro:property name="rod_rru_xyz" value="-0.068 0.025 0.038"/>
  <xacro:property name="rod_rru_rpy" value="${current_rod_tilt} -1.21 0"/>
  <xacro:property name="rod_rrl_xyz" value="-0.068 -0.025 0.038"/>
  <xacro:property name="rod_rrl_rpy" value="${current_rod_tilt} -1.21 0"/>

  <xacro:property name="rod_flu_xyz" value="0.068 0.025 0.038"/>
  <xacro:property name="rod_flu_rpy" value="${current_rod_tilt} 1.21 0"/>
  <xacro:property name="rod_fll_xyz" value="0.068 -0.025 0.038"/>
  <xacro:property name="rod_fll_rpy" value="${current_rod_tilt} 1.21 0"/>
  <xacro:property name="rod_rlu_xyz" value="-0.068 0.025 0.038"/>
  <xacro:property name="rod_rlu_rpy" value="${current_rod_tilt} -1.21 0"/>
  <xacro:property name="rod_rll_xyz" value="-0.068 -0.025 0.038"/>
  <xacro:property name="rod_rll_rpy" value="${current_rod_tilt} -1.21 0"/>
  
  <xacro:property name="rod_hub_joint_lower" value="-0.5236"/>
  <xacro:property name="rod_hub_joint_upper" value="0.5236"/>
  <xacro:property name="rod_hub_joint_effort" value="50.0"/>
  <xacro:property name="rod_hub_joint_velocity" value="3.0"/>
  <xacro:property name="rod_mesh_origin_xyz" value="0 0 -0.015"/>

  <xacro:property name="clamp_joint_lower" value="-${pi}"/>
  <xacro:property name="clamp_joint_upper" value="${pi}"/>
  <xacro:property name="clamp_joint_effort" value="20.0"/>
  <xacro:property name="clamp_joint_velocity" value="2.0"/>
  <xacro:property name="clamp_mesh_origin_xyz" value="0 -0.075 -0.030"/>
  <xacro:property name="clamp_fr_xyz" value="0 0 0.32"/> 

  <material name="gray_frame"><color rgba="0.75 0.75 0.75 1.0"/></material>
  <material name="white_frame"><color rgba="1.0 1.0 1.0 1.0"/></material>

  <xacro:macro name="rod_assembly" params="prefix parent_link xyz rpy dir">
    <link name="rod_${prefix}_link">
      <visual>
        <origin xyz="${rod_mesh_origin_xyz}" rpy="0 0 0"/>
        <geometry><mesh filename="package://proxima_description/meshes/proxima/profile_30x30.stl" scale="${scale}"/></geometry>
        <material name="gray_frame"/>
      </visual>
    </link>
    <joint name="${parent_link}_to_rod_${prefix}_joint" type="revolute">
      <parent link="${parent_link}"/><child link="rod_${prefix}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/><axis xyz="${dir} 0 0"/> 
      <limit lower="${rod_hub_joint_lower}" upper="${rod_hub_joint_upper}" effort="${rod_hub_joint_effort}" velocity="${rod_hub_joint_velocity}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="clamp_assembly" params="prefix parent_rod mesh_rpy">
    <link name="clamp_${prefix}_link">
      <visual>
        <origin xyz="${clamp_mesh_origin_xyz}" rpy="${mesh_rpy}"/>
        <geometry><mesh filename="package://proxima_description/meshes/proxima/clamp_6.stl" scale="${scale}"/></geometry>
        <material name="gray_frame"/>
      </visual>
    </link>
    <joint name="${parent_rod}_to_clamp_${prefix}_joint" type="revolute">
      <parent link="${parent_rod}"/><child link="clamp_${prefix}_link"/>
      <origin xyz="${clamp_fr_xyz}" rpy="0.2 ${pi} 0"/> <axis xyz="1 0 0"/>
      <limit lower="${clamp_joint_lower}" upper="${clamp_joint_upper}" effort="${clamp_joint_effort}" velocity="${clamp_joint_velocity}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="swerve_mount_assembly" params="prefix parent_link xyz rod_rot">
    <link name="swerve_mount_${prefix}_link">
      <visual> 
        <origin xyz="0 0 0" rpy="-${pi/2} 0 0"/>
        <geometry>
          <mesh filename="package://proxima_description/meshes/proxima/swerve_mount.stl" scale="${scale}"/>
        </geometry>
        <material name="gray_frame"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="-${pi/2} 0 0"/>
        <geometry>
          <mesh filename="package://proxima_description/meshes/proxima/swerve_mount.stl" scale="${scale}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${parent_link}_to_swerve_mount_${prefix}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="swerve_mount_${prefix}_link"/>
      <origin xyz="${xyz}" rpy="${-rod_rot} 0 0"/> 
    </joint>

    <link name="swerve_steer_${prefix}_link"/> 
    <joint name="mount_to_steer_${prefix}_joint" type="fixed">
      <parent link="swerve_mount_${prefix}_link"/>
      <child link="swerve_steer_${prefix}_link"/>
      <origin xyz="0.04 -0.0125 0" rpy="0 0 0"/> 
    </joint>
  </xacro:macro>
<xacro:macro name="fork_assembly" params="prefix parent_link xyz rpy">
    <link name="fork_${prefix}_link">
      <visual>
        <origin xyz="-0.08 0 0" rpy="0 ${pi/2} 0"/>
        <geometry>
          <mesh filename="package://proxima_description/meshes/proxima/fork_2.stl" scale="${scale}"/>
        </geometry>
        <material name="white_frame"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://proxima_description/meshes/proxima/fork_2.stl" scale="${scale}"/>
        </geometry>
      </collision>
    </link>

    <joint name="swerve_to_fork_${prefix}_joint" type="continuous">
      <parent link="${parent_link}"/>
      <child link="fork_${prefix}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <axis xyz="0 0 1"/> 
    </joint>
  </xacro:macro>

  <xacro:macro name="wheel_assembly" params="prefix parent_link xyz">
    <link name="wheel_${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        <geometry>
          <mesh filename="package://proxima_description/meshes/proxima/wheel.stl" scale="${scale}"/>
        </geometry>
        <material name="gray_frame">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="${parent_link}_to_wheel_${prefix}_joint" type="continuous">
      <parent link="${parent_link}"/>
      <child link="wheel_${prefix}_link"/>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/> 
    </joint>
  </xacro:macro>
  
  <link name="main_frame_link">
    <visual>
      <origin xyz="${frame_mesh_xyz}" rpy="${frame_rpy}"/>
      <geometry><mesh filename="package://proxima_description/meshes/proxima/Frame_assemble.stl" scale="${scale}"/></geometry>
      <material name="white_frame"/>
    </visual>
  </link>

  <link name="hub_link_left">
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://proxima_description/meshes/proxima/hub.stl" scale="${scale}"/></geometry><material name="gray_frame"/></visual>
  </link>
  <joint name="main_frame_to_hub_left_joint" type="fixed"><parent link="main_frame_link"/><child link="hub_link_left"/><origin xyz="${hub_xyz_left}" rpy="${hub_rpy_left}"/></joint>

  <link name="hub_link_right">
    <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://proxima_description/meshes/proxima/hub.stl" scale="${scale}"/></geometry><material name="gray_frame"/></visual>
  </link>
  <joint name="main_frame_to_hub_right_joint" type="fixed"><parent link="main_frame_link"/><child link="hub_link_right"/><origin xyz="${hub_xyz_right}" rpy="${hub_rpy_right}"/></joint>

  <xacro:rod_assembly prefix="fru" parent_link="hub_link_right" xyz="${rod_fru_xyz}" rpy="${rod_fru_rpy}" dir="1"/>
  <xacro:rod_assembly prefix="frl" parent_link="hub_link_right" xyz="${rod_frl_xyz}" rpy="${rod_frl_rpy}" dir="1"/>
  <xacro:rod_assembly prefix="rru" parent_link="hub_link_right" xyz="${rod_rru_xyz}" rpy="${rod_rru_rpy}" dir="-1"/>
  <xacro:rod_assembly prefix="rrl" parent_link="hub_link_right" xyz="${rod_rrl_xyz}" rpy="${rod_rrl_rpy}" dir="-1"/>
  <xacro:rod_assembly prefix="flu" parent_link="hub_link_left" xyz="${rod_flu_xyz}" rpy="${rod_flu_rpy}" dir="1"/>
  <xacro:rod_assembly prefix="fll" parent_link="hub_link_left" xyz="${rod_fll_xyz}" rpy="${rod_fll_rpy}" dir="1"/>
  <xacro:rod_assembly prefix="rlu" parent_link="hub_link_left" xyz="${rod_rlu_xyz}" rpy="${rod_rlu_rpy}" dir="-1"/>
  <xacro:rod_assembly prefix="rll" parent_link="hub_link_left" xyz="${rod_rll_xyz}" rpy="${rod_rll_rpy}" dir="-1"/>

  <xacro:clamp_assembly prefix="fr" parent_rod="rod_fru_link" mesh_rpy="0 0 0"/>
  <xacro:swerve_mount_assembly prefix="fr" parent_link="rod_fru_link" xyz="-0.04 -0.07 0.46" rod_rot="${current_rod_tilt}"/>
  <xacro:fork_assembly prefix="fr" parent_link="swerve_steer_fr_link" xyz="0 0 0" rpy="0 0.25 0"/>
  <xacro:wheel_assembly prefix="fr" parent_link="fork_fr_link" xyz="0 -0.17 0"/>

  <xacro:clamp_assembly prefix="rl" parent_rod="rod_flu_link" mesh_rpy="0 0 0"/>
  <xacro:swerve_mount_assembly prefix="rl" parent_link="rod_flu_link" xyz="0.04 -0.07 0.46" rod_rot="${current_rod_tilt}"/>
  <xacro:fork_assembly prefix="rl" parent_link="swerve_steer_rl_link" xyz="0 0 0" rpy="0 0. 0"/>
  <xacro:wheel_assembly prefix="rl" parent_link="fork_rl_link" xyz="0 -0.17 0"/>

  <xacro:clamp_assembly prefix="rr" parent_rod="rod_rru_link" mesh_rpy="0 0 0"/>
  <xacro:swerve_mount_assembly prefix="rr" parent_link="rod_rru_link" xyz="-0.04 -0.07 0.46" rod_rot="${current_rod_tilt}"/>
  <xacro:fork_assembly prefix="rr" parent_link="swerve_steer_rr_link" xyz="0 0 0" rpy="0 0 0"/>
  <xacro:wheel_assembly prefix="rr" parent_link="fork_rr_link" xyz="0 -0.17 0"/>

  <xacro:clamp_assembly prefix="fl" parent_rod="rod_rlu_link" mesh_rpy="0 0 0"/>
  <xacro:swerve_mount_assembly prefix="fl" parent_link="rod_rlu_link" xyz="0.04 -0.07 0.46" rod_rot="${current_rod_tilt}"/>
  <xacro:fork_assembly prefix="fl" parent_link="swerve_steer_fl_link" xyz="0 0 0" rpy="0 0 0"/>
  <xacro:wheel_assembly prefix="fl" parent_link="fork_fl_link" xyz="0 -0.17 0"/>
</robot>